
.hover-effect {
    transform: scale(1);
    transition: transform 0.73s, filter 0.97s;
    filter: drop-shadow(0 10 0.75rem rgba(0,0,0,0))
}

.hover-effect:hover {
    transform: scale(1.12);
    filter: drop-shadow(0 10px 0.75rem #000000);
    transition: 0.8s;
}

